{extend name="mainadmin@layouts/base" /}
{block name="main" }
<header class="header b-b clearfix">
    <form id="forms" class="talbe-search form-inline "  method="post" action="{:url('getList')}" >
        <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>报单列表</strong>
                </li>                                  
            </ul>
            <div class="form-group">
                <a class="btn btn-default " data-toggle="reportrange" data-change="submit">
                    <i class="fa fa-calendar fa-lg"></i>
                    <small>报单时间</small>
                    <span></span> <b class="caret"></b>
                    <input type="hidden" value="{$start_date} - {$end_date}" id="reportrange" name="reportrange" />
                </a>
            </div>
            <select name="role_id" style="width: 120px;" data-toggle="select2"  data-chang="submit">
                <option value="">选择等级</option>
                <option value="0">注册会员</option>
                {foreach name="roleList" item="vo" key="k"}
                <option value="{$k}">{$vo.role_name}</option>
                {/foreach}
            </select>
            <select name="status" style="width: 120px;" data-toggle="select2"  data-chang="submit">
                <option value="">订单状态</option>
                <option value="1">正常</option>
                <option value="2">作废</option>
            </select>
            <select name="searchKey" style="width: 120px;" data-toggle="select2"  data-chang="submit">
                <option value="member_id">用户ID</option>
                <option value="tel">用户手机号</option>
                <option value="username">用户昵称</option>
                <option value="pid">推荐上级</option>
                <option value="spid">服务上级</option>
                <option value="user_id">所属专卖店</option>
                <option value="puser_id">伞顶用户ID</option>
            </select>
            <input type="text" class="form-control input-large" value="{$search.keyword}" name="keyword" placeholder="请输入" data-rule-required="true" />
            <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>
            <a href="{:url('info')}" title="添加报单会员" class="btn btn-sm btn-default fr m-t-md m-r"><i class="fa fa-plus m-r-xs"></i>添加报单</a>
        </div>
    </form>
</header>

<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <div class="table-responsive " id="list_box">
            {include file="sys_admin/order/list" /}
        </div>
    </section>
</section>

{/block}
